# Ignore everything in repository root
/*

# Files to not ignore
!/.gitignore
!/.vscode
!/.editorconfig
!/.gitattributes

!/z_server.bat
!/z_server_updater.bat
!/z_server_watchdog.bat
!/z_server_wine.sh
!/README.md
!/out

*.zip

!/.astylerc
!/z_deploy.bat
!/deploy.bat
!/deploy.js

!/main/
!/main_shared/
/main/*
!/main/server.cfg

*.log
missingasset.csv
