# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/.vscode

!/z_client.bat
!/z_dev.bat
!/z_devserver.bat
!/z_server.bat
!/z_serverdev.bat
!/z_bots.bat
!/README.md
!/out

*.zip

!/.astylerc
!/z_deploy.bat
!/deploy.bat
!/deploy.js

!/main/
!/main_shared/
/main/*
!/main/server.cfg

*.log
missingasset.csv
